<div class="l-main" role="main">
  <h1 class="c-logo">
    <picture>
      <source srcset="/assets/images/robin-rundkvist-logo.svg"
      media="(min-width: 48rem)">
      <%= image_tag "robin-rundkvist-logo-small.svg", :alt => "Robin Rundkvist" %>
    </picture>
  </h1>
  <p class="u-visuallyhidden">
    Gränssnittsdesigner med tio års erfarenhet av att planera, rita och koda interaktiva grafiska gränssnitt.
  </p>
  <div class="c-collage" aria-hidden="true">
    <%= image_tag "buttons/1-granssnittsdesigner.svg", :class => "c-collage__item", :alt => "" %>
    <%= image_tag "buttons/2-med.svg", :class => "c-collage__item", :alt => "" %>
    <%= image_tag "buttons/3-tio_ars.svg", :class => "c-collage__item", :alt => "" %>
    <%= image_tag "buttons/4-erfarenhet.svg", :class => "c-collage__item", :alt => "" %>
    <%= image_tag "buttons/5-av_att.svg", :class => "c-collage__item", :alt => "" %>
    <%= image_tag "buttons/6-planera.svg", :class => "c-collage__item", :alt => "" %>
    <%= image_tag "buttons/7-rita.svg", :class => "c-collage__item", :alt => "" %>
    <%= image_tag "buttons/8-och_koda.svg", :class => "c-collage__item", :alt => "" %>
    <%= image_tag "buttons/9-interaktiva.svg", :class => "c-collage__item", :alt => "" %>
    <%= image_tag "buttons/10-grafiska.svg", :class => "c-collage__item c-collage__item--grafiska", :alt => "" %>
    <%= image_tag "buttons/11-granssnitt.svg", :class => "c-collage__item", :alt => "" %>
  </div>
  <p>Jag designar följsamma, tillgängliga och komponentbaserade gränssnitt för stora och små skärmar. Jag levererar både bilder, kod och resonemang kring jobbiga frågor. Var bor ett dialogfönster innan det behövs? Kan man fylla i formuläret med en bebis i famnen? Hur stor är en tumme?</p>
  <p>Hör av dig om du vill ha hjälp med något!</p>
  <ul class="l-list u-text-nowrap u-text-small">
    <li>
      <p><a href="mailto:robin@robinrundkvist.se"><%= image_tag "icon-email.svg", :class => "c-icon c-icon--inline", "aria-hidden" => "true" %>robin@robinrundkvist.se</a></p>
    </li>
    <li>
      <p><a href="https://www.linkedin.com/in/rundkvist/"><%= image_tag "icon-linkedin.svg", :class => "c-icon c-icon--inline", "aria-hidden" => "true" %>linkedin.com/in/rundkvist</a></p>
    </li>
  </ul>
</div>
