<div class="c-top-bar" role="banner">
  <h1 class="c-logo">
    <%= image_tag "rundkvist.svg", alt: "" %>
    <span>Robin Rundkvist</span>
  </h1>
</div>
<div class="l-main" role="main">
  <div class="l-container">
    <h2 class="u-h1">Gränssnittsdesigner baserad i Göteborg, med fokus på komponentbaserade designsystem och tillgänglighet.</h2>
    <ul>
      <li lang="en">UI-design</li>
      <li>Gränssnittsutveckling</li>
      <li>HTML & CSS</li>
      <li>Tillgänglighet</li>
      <li lang="en">UX-design</li>
      <li>Responsiv design</li>
      <li lang="en">Style guides</li>
    </ul>
    <div class="c-box">
      <p><%= svg "exclamation", class: "c-icon", "aria-hidden": "true" %></i>Just nu är jag tillgänglig för konsultuppdrag hösten 2018.</p>
      <a class="c-button" href="#contact">Hör av dig!</a>
    </div>
    <div class="l-section">
      <div class="l-section__figure">
        <%= svg "designing-systems", class: "c-icon", "aria-hidden": "true" %>
      </div>
      <div class="l-section__body">
        <h3>Jag tror på idén om att designa system, snarare än sidor.</h3>
        <p>Det finns mycket att tjäna på att bryta ner en digital produkt eller tjänst i dess fundamentala komponenter. Även när det gäller det grafiska gränssnittet.</p>
        <p>Det ger ett designsystem som skalar väl, och som lättare går att passa in i olika skärmstorlekar och typer av enheter. Det blir också lättare att dokumentera. Utvecklare och designers får gemensamma begrepp att samarbeta kring. Tillsammans styr vi undan stickspår och ser till att varje komponent bidrar till helheten på ett meningsfullt sätt. Resultatet för slutanvändaren blir en mer konsekvent upplevelse utan spretighet eller onödiga stopp.</p>
      </div>
    </div>
    <div class="l-section">
      <div class="l-section__figure">
        <%= svg "experience", class: "c-icon", "aria-hidden": "true" %>
      </div>
      <div class="l-section__body">
        <h3>Jag har sex års erfarenhet av stora och små gränssnittsprojekt.</h3>
        <p>Jag har en bakgrund i interaktionsdesign och UX, och har därefter rört mig allt mer mot UI-design och frontend på webben.</p>
        <p>2012 till 2018 arbetade jag på <a href="http://www.varvet.se">Varvet</a> tillsammans med utvecklare och designers på projekt för exempelvis Bonnier Korsord, EA Games, Forsman & Bodenfors, Battleriff, Naturkartan, Oxfam, Göteborgsregionens kommunalförbund och ArkivDigital.</p>
        <p>Här är några exempel på hur det har sett ut:</p>
      </div>
    </div>
  </div>
  <ul class="c-gallery" role="region" aria-label="Några av mina projekt">
    <li class="c-gallery__item"><%= image_tag "1.png", alt: "", class: "c-gallery__image" %></li>
    <li class="c-gallery__item"><%= image_tag "2.png", alt: "", class: "c-gallery__image" %></li>
    <li class="c-gallery__item"><%= image_tag "3.png", alt: "", class: "c-gallery__image" %></li>
    <li class="c-gallery__item"><%= image_tag "4.png", alt: "", class: "c-gallery__image" %></li>
    <li class="c-gallery__item"><%= image_tag "5.png", alt: "", class: "c-gallery__image" %></li>
    <li class="c-gallery__item"><%= image_tag "6.png", alt: "", class: "c-gallery__image" %></li>
    <li class="c-gallery__item"><%= image_tag "7.png", alt: "", class: "c-gallery__image" %></li>
    <li class="c-gallery__item"><%= image_tag "8.png", alt: "", class: "c-gallery__image" %></li>
  </ul>
  <div class="l-container">
    <div class="l-section">
      <div class="l-section__figure">
        <%= svg "concept-to-code", class: "c-icon", "aria-hidden": "true" %>
      </div>
      <div class="l-section__body">
        <h3>Jag rör mig från koncept till produktionsfärdig gränssnittskod.</h3>
        <p>Jag har lika lång erfarenhet av att skriva HTML och CSS som jag har av att ta fram designkoncept. Det har alltid gått hand i hand, och jag är övertygad om att en grundlig förståelse för det digitala materialet är avgörande för att ta fram realistiska designkoncept som inte brakar ihop när verkligheten knackar på.</p>
        <p>Jag är inte utvecklare, men genom åren har jag också rört mig i programmeringsspråk som Ruby (Ruby on Rails), Javascript (och React), PHP (och Wordpress). För det mesta har det handlat om agila projekt med testdriven utveckling.</p>
      </div>
    </div>
    <div class="l-section">
      <div class="l-section__figure">
        <%= svg "accessibility", class: "c-icon", "aria-hidden": "true" %>
      </div>
      <div class="l-section__body">
        <h3>Jag tror på rätten till att kunna tillgodose sig information och digitala upplevelser oavsett inre eller yttre omständigheter.</h3>
        <p>Alla projekt tjänar på att ha tillgänglighet i åtanke. Samma principer som anpassar en webbplats för synskadade, hjälper även någon som går med bruten handled en månad, eller kanske någon som kämpar med en dålig skärm under sommarsolen, eller någon med sporadisk uppkoppling på tåget. Tekniken behöver fungera för människor, och olika människor har olika förutsättningar, under olika perioder av sina liv.</p>
      </div>
    </div>
    <div class="l-section">
      <div class="c-box">
        <div class="c-box__icon"></div>
        <h3>Vill du anlita mig?</h3>
        <p>Hör av dig, så träffas vi och pratar mer!</p>
        <ul>
          <li><a href="mailto:robin@robinrundkvist.se">robin@robinrundkvist.se</a></li>
          <li><a href="https://www.linkedin.com/in/rundkvist/">linkedin.com/in/rundkvist</a></li>
          <li><a href="https://twitter.com/karlrobin">twitter.com/karlrobin</a></li>
        </ul>
      </div>
      <div class="c-box c-box--muted">
        <div class="c-box__icon">P.S.</div>
        <h3>Behöver du även art direction, grafisk design eller produktdesign?</h3>
        <p>Jag jobbar sedan många år tillbaka bra ihop med <a href="http://johannesleuchovius.se/">Johannes Leuchovius</a>. Vi är ett bra paketerbjudande om du är ute efter en större designbredd!</p>
      </div>
    </div>
  </div>
</div>
<div class="l-footer">
  <p>Källkoden till den här sidan finns här:</p>
  <a href="https://github.com/karlrobin/robinrundkvist.se">github.com/karlrobin/robinrundkvist.se</a>
</div>
